.buttonsForm {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.buttonsForm i {
    margin: 0 2px;
    color: #B1BBD1;
    font-size: 18px;
    cursor: pointer;
}

.buttonsForm i:first-child:hover {
    color: red;
}

.buttonsForm i:nth-child(2):hover {
    color: #3fa533;
}